* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom right, #f0f0f0, #e0e0e0);
    color: #333;
}

header {
    background: #2C3E50;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

header .header-image {
    width: 200px; 
    height: auto;
    border-radius: 50%;
    border: 5px solid #2C3E50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

/* Navigation */
nav {
    background: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #575757;
}

.img-circle {
    width: 350px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

section {
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

section ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #2C3E50;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill {
    flex: 0 0 150px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.skill i {
    font-size: 2em;
    color: #2C3E50;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus {
    border: 1px solid #2C3E50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

form textarea {
    min-height: 100px;
    resize: vertical;
}

form button {
    padding: 10px 20px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-links h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5em;
}

footer .list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .list-inline li {
    display: inline;
}

footer .list-inline a {
    color: white;
    font-size: 1.8em;
    transition: color 0.3s ease;
}

footer .list-inline a:hover {
    color: #2C3E50;
}

footer p {
    color: white;
    font-size: 0.9em;
    margin-top: 20px;
}
